{% extends 'base.html' %}

{% block content %}<br><br><br><br>

        


        <div class="col d-flex justify-content-center">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                        <form action="{% url 'create_post' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                              <label> Title </label><br>
                              <input type="text" name = "title" class="form-control"  placeholder="Enter" required>

                            </div><br>
                            <div class="form-group">
                              <label>Description</label>
                              <textarea name="description" cols="30" rows="10" class="form-control" placeholder="Enter" required></textarea>
                              
                            </div><br>
                            
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
                    </div>
                    
                </div>
            </div>
            
          </div>
       
          <br><br><br><br><br>
       
        {% endblock %}
