{% extends 'base.html' %}

{% block content %}
<br><br>
<div class="col d-flex justify-content-center">
        <div class="bg-null my-1 py-1 text-center">
            <div ><h2>Posts By : {{ name }}</h2> </div>
        </div>
</div> <br>

{% for article in articles %}
<div class="col d-flex justify-content-center">


<div class="col-md-8 mb-5">
  <div class="card h-100">
      <div class="card-body">
          <h2 class="card-title">{{ article.title }}</h2>
          <p class="card-text">{{ article.description }}</p>
          <p class="text-end">{{article.created_date}}</p>
         
              
          
      </div>
      <div class="text-end">
        <div class="card-footer"><a class="btn btn-primary btn-sm" href="#!">Comments</a></div>
      
      </div>
     
  </div>
</div>
</div>
{% endfor %}
{% endblock %}