{% extends 'base.html' %}

{% block content %}
<!-- Page Content-->
<div class="container px-4 px-lg-5">
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Blog Budz</h1><br><br>
            <p>Blogging is a conversation, not a code....</p>
            <a class="btn btn-primary" href="{% url 'create_post' %}">Create Post</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><h6 class="text-white m-0">Don't focus on having a great blog. Focus on producing a blog that's great for your readers.</h6></div>
    </div>
    <!-- Content Row-->
   
      {% for article in articles %}
      <div class="col-md-8 mb-5">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">{{ article.title }}</h2>
                <p class="card-text">{{ article.description }}</p>
                <p class="text-end">{{article.created_date}}</p>
                <div class="text-end">
                    <a class="btn btn-primary btn-sm" href="{% url 'get_articles' article.author.id %}">By: {{article.author}}</a>
                </div>
                    
                
            </div>
            <div class="card-footer"><a class="btn btn-primary btn-sm" href="{% url 'comments' article.id %}">Comments</a></div>
            
        </div>
    </div>
      {% endfor %}
        
    </div>
</div>
{% endblock %}