{% extends 'base.html' %}

{% block content %}
<br>
       
        <div class="col d-flex justify-content-center">
            <div class="col-md-4 mb-5">
                <div class="card h-100">
                    <div class="card-body">
                      {% include 'messages.html' %}
                        <form action="{% url 'register' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label >First Name</label><br>
                                <input type="text" class="form-control" name = "first_name"  placeholder="Enter" required>
                              </div><br>

                              <div class="form-group">
                                <label>Last Name</label><br>
                                <input type="text" name = "last_name" class="form-control"   placeholder="Enter" required>
                              </div><br>

                              <div class="form-group">
                                <label>User Name</label><br>
                                <input type="text" name = "user_name" class="form-control"   placeholder="Enter" required>
                              </div><br>
                            
                            <div class="form-group">
                              <label for="exampleInputEmail1">Email address</label><br>
                              <input type="email" name = "email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter" required>

                            </div><br>
                            <div class="form-group">
                              <label for="exampleInputPassword1">Password</label>
                              <input type="password" name = "password" class="form-control" id="exampleInputPassword1" placeholder="Enter" required>
                            </div><br>

                            <div class="form-group">
                                <label for="exampleInputPassword1">Confirm Password</label>
                                <input type="password" name = "confirm_password" class="form-control" id="exampleInputPassword1" placeholder="Enter" required>
                              </div><br>
                            
                            
                            <button type="submit" class="btn btn-primary">Submit</button>
                          </form>
                    </div>
                    
                </div>
            </div>
            
          </div>
       {% endblock %}